[Unit]
Description=Run healthmon every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=healthmon.service

[Install]
WantedBy=timers.target